#ignore configuration files generated dinamically
/configuration/generated

#ignore script used for testing
/script_aws/test
/compile.sh

#ingnore script conf files for aws e gc
/script_aws/conf
/script_gce/conf

#ignore bin folder
/bin

#ignore test folder
/test
